.course{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
 
  
  h1{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
  }
  p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }

  .paraHeader{
    color: #fff;
  }
  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
  }
  
  .course-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
  }
  h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    
  }
  
}
.course-col:hover{
  box-shadow: 0 0 20px 0px #ff523b;
}

.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}

select{
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus{
  outline: none;
}

.page-btn{
  margin: 0 auto 80px;
}

.page-btn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
  background: #ff523b;
  color: #fff;
}


@media (max-width:700px){
  .row{
      flex-direction: column;
  }
} 

.campus{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  background-color: #fff;
}
.campus-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img{
  width: 100%;
}

.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: .5s;
}
.layer:hover{
  background: rgba(226, 0, 0, 0.7);
}
.layer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: .5s;
}
.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}
