nav{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 20;
background-color: transparent;


}
.logo{
    width: 140px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
   
}